  <!--<div>Welcome to {{title}}, enable camera to post video emoji!</div>-->
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter" style="display:hidden;"></div>
 <div id="titlebar">
    <p>CS 247 Chatroom</p>
  </div>
  <div id="conversation"></div>
  {{!-- <div id="separator"></div> --}}
  <div id="quiz_box">
      <div id="quiz_container" class="container" style="display:hidden">
        <div class="quiz quiz_one" style="clear:both;">&nbsp;</div>
        <div class="quiz quiz_two" style="clear:both;">&nbsp;</div>
      </div>
      <div id="powerup_container" class="container" style="display:hidden;">

      </div>
      <div id="quiz-done-area">
      </div>
  </div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="video_container">
  </div>
  
  
