  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="separator"></div>
  <div id="quiz_box">
    <div id="powerup_mode" style="display:hidden;">
    </div>
    <div id="quiz_mode" style="display:hidden;">
      <p class="quiz_title">QUIZ TIME!</p>
      <p class="quiz_description">How well do you know your friend?</p>
      <div id="video_box"></div>
      <div id="quiz_options">
      <div id="buttons">
        <button id="first_button" class="quiz_button">:)</button>
        <button class="quiz_button">:/</button>
        <button class="quiz_button">:-p</button>
        <button class="quiz_button">:(</button>
        <button id="last_button" class="quiz_button">:D</button>
      </div>
      </div>
    </div>
  </div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  <div id="quiz_container"></div>
  
