body {
  margin: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#titlebar {
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 45px;
  background-color: #dddddd;
}
#titlebar p {
  width: 75%;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  color: #666666;
}
#webcam_stream {
  border: 1px solid black;
  background-color: #dddddd;
  width: 340px;
  height: 255px;
  display: inline-block;
  padding: 0;
}
#webcam_stream video {
  border: 2px solid #dcc;
}
#powerup_container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #9fbcd7;
}
#powerup_intro {
  color: #444444;
  padding: 15px;
}
#quiz-done-area {
  background-color: lightyellow;
}
#quiz_container {
  background-color: #becbd8;
}
#quiz_container .otherPersonGuessing .quiz-choice {
  cursor: default !important;
  background-color: #818181;
  border: 1px solid #777;
}
#quiz_container .quiz-choice {
  background-color: #4487c4;
  border: 1px solid #0a569c;
  display: block;
  float: left;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 17px;
  padding: none;
  width: 60px;
  height: 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
#quiz_container .enabled .quiz-choice {
  cursor: pointer;
}
#quiz_container .enabled.active .quiz-choice:hover {
  background-color: #0a569c;
  position: relative;
  top: 1px;
}
#quiz_container .enabled.active .quiz_choice:active {
  position: relative;
  top: 1px;
}
#quiz_container .inactive .quiz-choice {
  background-color: #818181;
  /* Gray out when inactive*/
  cursor: default;
}
#quiz_container .inactive .quiz-choice.correct {
  background-color: green;
}
#quiz_container .inactive .quiz-choice.wrongChoiceThatWasGuessed {
  background-color: #FF3333;
}
.quiz-choices {
  margin: 0 auto;
  width: 240px;
  height: 40px;
  padding-bottom: 20px;
}
.indiv_quiz_container {
  padding-top: 10px;
  padding-bottom: 45px;
  color: #444444;
}
.quiz_one {
  border-bottom: 1px solid #818181;
}
#buttons {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 240px;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#conversation {
  padding: 45px 0px 60px 0px;
  margin-left: 0px;
  overflow-y: auto;
  vertical-align: top;
  height: 100%;
  width: 50%;
  display: inline-block;
}
#quiz_box {
  position: fixed;
  top: 0px;
  border-left: 1px solid #818181;
  display: inline-block;
  width: 50%;
  left: 50%;
  height: 100%;
}
.container {
  vertical-align: top;
  text-align: center;
}
.quiz_title {
  text-align: center;
  position: relative;
  font-size: 26px;
}
.msg {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 0px;
}
.msgtext {
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px;
  margin: 0 auto;
  width: 85%;
  margin-bottom: 0px;
}
#submission {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
/* progress bar CSS from ghosthorses.co.uk */
.progress {
  width: 100%;
  height: 50px;
}
.progress-wrap {
  background: #ec9712;
  width: 90%;
  border-radius: 40px;
  margin: 20px auto 30px auto;
  overflow: hidden;
  position: relative;
}
.progress-bar {
  background: #dddddd;
  left: 0;
  position: absolute;
  top: 0;
}
