body {
  margin: 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#webcam_stream {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}
#webcam_stream video {
  border: 2px solid #dcc;
}
#quiz_container {
  background-color: #FF99FF;
}
#quiz_container .quiz-choice {
  float: left;
  background-color: #72b4cc;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 17px;
  padding: none;
  width: 80px;
  height: 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
#quiz_container.active .quiz-choice:hover {
  background-color: #408c99;
  position: relative;
  top: 1px;
}
#quiz_container.active .quiz_choice:active {
  position: relative;
  top: 1px;
}
#quiz_container.inactive .quiz-choice {
  background-color: #72b4cc;
  /* Gray out when inactive*/
  cursor: default;
}
#quiz_container.inactive .quiz-choice.correct {
  background-color: lightgreen;
}
.quiz-choices {
  margin: 0 auto;
  width: 320px;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#conversation {
  padding: 10px 10px 80px;
  overflow-y: scroll;
  height: 100%;
}
#quiz_container {
  position: absolute;
  top: 0px;
  left: 60%;
  border-left: 1px solid #000;
  height: 100%;
  width: 40%;
  position: fixed;
  background-color: yellow;
  border: ;
  text-align: center;
}
.quiz_title {
  text-align: center;
  position: relative;
  font-size: 26px;
}
#video_box {
  margin: 0 auto;
  width: 350px;
}
.vid_quiz {
  margin: 0 auto;
  width: 350px;
}
#buttons {
  margin: 0 auto;
  width: 350px;
}
.quiz_button {
  float: left;
  background-color: #72b4cc;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 17px;
  padding: none;
  width: 70px;
  height: 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.quiz_button:hover {
  background-color: #408c99;
}
.quiz_button:active {
  position: relative;
  top: 1px;
}
#submission {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
